// a {
//   text-decoration: none;
// }

.DownloadableImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 5px;
}

.DownloadableImage__image {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  box-shadow: 0 3px 50px -10px grey;
  border: 1px solid black;
  border-top: none;
}

.DownloadableImage__options {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  & > a {
    text-decoration: none;
  }
}

.options__delete-button,
.options__download-icon {
  font: inherit;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0 0.1rem;
  border: 1px solid black;
  transition: all 0.3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}

.options__delete-button:hover,
.options__download-icon:hover {
  background-color: #6c63ff;
  color: white;
}
