.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App__camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  margin: 1rem;
  border-radius: 5px;
}

.camera-container__button {
  outline: none;
  border: 1px solid black;
  border-radius: 50%;
  margin: 12px; // Shadow spread on hover (the maximum value) + 2px
  width: 3rem;
  height: 3rem;

  $shadow-spread: 2px;
  $shadow-color: white;
  box-shadow: (-$shadow-spread) 0 $shadow-color, 0 $shadow-spread $shadow-color,
    $shadow-spread 0 $shadow-color, 0 (-$shadow-spread) $shadow-color;

  transition: all 0.3s ease-in-out;

  &:hover {
    $shadow-spread: 10px;
    box-shadow: (-$shadow-spread) 0 $shadow-color,
      0 $shadow-spread $shadow-color, $shadow-spread 0 $shadow-color,
      0 (-$shadow-spread) $shadow-color;
    background-color: #6495ed;
    transform: rotate(180deg);
  }

  &:focus {
    background-color: #6495ed;
  }
}

.camera-container__camera {
  display: flex;
  margin: 1rem 1rem 0 1rem;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
}
